<template>
    <div class="col-sm mb-2">
        <div class="card bg-light mb-3" style="max-width: 20rem; min-width: 20rem;">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" value.bind="user.DisplayName & validate" t="[placeholder]addUser.displayName"> </div>
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" value.bind="user.Username & validate" t="[placeholder]addUser.userName"> </div>
                    <div class="form-group">
                        <input type="email" class="form-control mb-2" value.bind="user.Email & validate" placeholder="email@example.com"> </div>
                    <div class="form-group">
                        <input type="password" class="form-control mb-2" value.bind="user.Password & validate" change.delegate="confirmPassword = ''"
                            t="[placeholder]addUser.password"> </div>
                    <div class="form-group">
                        <input type="password" class="form-control mb-2" value.bind="user.ConfirmPassword & validate" t="[placeholder]addUser.confirmPassword"> </div>
                    <div class="form-group">
                        <label repeat.for="role of user.Roles">                         
                            <input type="checkbox" model.bind="role" checked.bind="role.IsMemberOf">
                            <span class="mr-2">${role.Name}</span>
                        </label>
                    </div>
                    </br>
                    <a href="#" class="btn btn-danger" click.delegate="saveChanges(user)">
                        <span t="editUser.saveChanges"></span>
                    </a>
                    <a href="#" class="btn btn-primary" click.delegate="cancel(user)">
                        <span t="cancel"></span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</template>