<template>
        <form class="px-4 py-3">
          <label t="addUser.userName"></label>
          <div class="form-group">
            <input type="text" class="form-control" value.bind="newUserModel.Username & validate" t="[placeholder]addUser.userName">
          </div>
          <label t="addUser.displayName"></label>
          <div class="form-group">
            <input type="text" class="form-control" value.bind="newUserModel.DisplayName & validate" t="[placeholder]addUser.displayName">
          </div>
          <label t="addUser.email"></label>
          <div class="form-group">
            <input type="email" class="form-control" value.bind="newUserModel.Email & validate" placeholder="email@example.com">
          </div>
          <label t="addUser.password"></label>
          <div class="form-group">
            <input type="password" class="form-control" value.bind="newUserModel.Password & validate" change.delegate="confirmPassword = ''" t="[placeholder]addUser.password">
          </div>
          <label t="addUser.confirmPassword" for="confirmPassword"></label>
          <div class="form-group">
            <input type="password" class="form-control" value.bind="newUserModel.ConfirmPassword & validate"
              t="[placeholder]addUser.confirmPassword">
          </div>
          <div class="form-group">
            <label repeat.for="role of newUserModel.Roles">
              <input type="checkbox" model.bind="role" checked.bind="role.IsMemberOf">
              <span class="mr-2">${role.Name}</span>
            </label>           
          </div>
          <button type="submit" class="btn btn-primary" click.delegate="addUser()">
            <span t="addUser.addUser"></span>
          </button>
        </form>
      </template>
