.deleteUserModal {
    width: 30rem;
    height: auto;
}

.deleteUserHeader {
    background-color: $primary-color-one;
    color: #fff;
}

.deleteUserHeader .dialog-close {
    color: #fff;
}

.deleteUserTitle {
    text-align: center;
    text-transform: uppercase;
}

.navbar-custom {
    background: $primary-color-one;
    background: -moz-linear-gradient(left, #9e0236 0%, #510035 100%);
    background: -webkit-linear-gradient(left, #9e0236 0%, #510035 100%);
    background: linear-gradient(to right, #9e0236 0%, #510035 100%);
}

.border-active {
    border-color: $primary-color-two;
    .card-header {
        background-color: $primary-color-two;
    }
}

.input-group-addon {
    border-color: #ffffff;
    background: transparent;
    color: #f1f1f1;
    &:hover {
        background-color: #fab638;
        color: #fff;
        border-color: #510035;
    }
}

.form-control {
    color: #616161;
    border-color: #d4d4d4;
    &:hover {
        background-color: #e7e7e7;
        color: rgb(43, 43, 43);
        border-color: #616161;
        outline: none;
    }
}

.card-header {
    background: $primary-color-one;
    color: #fff;
    border-color: #616161;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #616161;
    border-color: #616161;
}

.page-link {
    color: #616161;
    &:focus,
    &:hover {
        color: #616161;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #ddd;
    }
}

.btn-outline-warning {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
}

.btn-primary {
    z-index: 2;
    color: #fff;
    background-color: #616161;
    border-color: #616161;
    &:focus,
    &:hover {
        color: #616161;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #ddd;
    }
}

.btn-danger {
    color: #fff;
    background-color: $primary-color-one;
    border-color: $primary-color-one;
}

.container-fluid {
    height: 100%;
    margin-right: auto;
    margin-left: auto
}

.userManagmentBackground {
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
}