<template>
        <ux-dialog class="deleteUserModal">
            <ux-dialog-header>
                <h5 t="editUser.deleteMessage"></h5>              
             </ux-dialog-header>	
           <ux-dialog-body>
              <h5><span>${user.DisplayName}</span></h5>
           </ux-dialog-body>
     
           <ux-dialog-footer>
              <button class="btn btn-secondary" click.trigger = "controller.cancel()" t="cancel"></button>
              <button class="btn btn-danger" click.trigger = "controller.ok(message)" t="editUser.deleteUser"></button>
           </ux-dialog-footer>	
        </ux-dialog>	
     </template>