<template>
  <div class="jumbotron d-flex flex-row">
    
      <div class="p-6">
        <h1 class="display-3" t="welcomeScreen.jumboMessage"></h1>
        <p class="lead" t="welcomeScreen.jumboDescription"></p>
        <hr class="my-4">
        <p t="welcomeScreen.additionalExplanation"></p>
      </div>
      <div class="p-6">
          <img src="../../assets/aureliaSkeleton.png" alt="Aurelia Pirat">
        </div>
    
    <!-- <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" click.delegate="showModal()" role="button" t="welcomeScreen.showModal"></a>
      <a class="btn btn-info btn-lg" href="#" click.delegate="showInfoNotification()" role="button" t="welcomeScreen.showInfoNotification"></a>
      <a class="btn btn-success btn-lg" href="#" click.delegate="showSuccessNotification()" role="button" t="welcomeScreen.showSuccessNotification"></a>
      <a class="btn btn-danger btn-lg" href="#" click.delegate="showErrorNotification()" role="button" t="welcomeScreen.showErrorNotification"></a>
    </p> -->
  </div>  
</template>