<template>
    <form class="form-inline my-2 my-lg-0">     
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">@</div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" t="[placeholder]login.username" value.bind="username"
                disabled.bind="isBusy">
        </div>
     
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            </div>
            <input type="password" class="form-control" id="inlineFormInputGroupUsername2" t="[placeholder]login.password" value.bind="password"
                disabled.bind="isBusy">
        </div>
        <button disabled.bind="isBusy" type="submit" class="btn btn-outline-warning" click.delegate="logIn()">
            <span t="login.login" show.bind="!isBusy"></span>
            <i show.bind="isBusy" class="fa fa-cog fa-spin fa-fw"></i>
        </button>
    </form>
</template>