<template>
    <div class="btn-group">
        <button type="button" class="btn btn-info">
            <span t="login.welcome"></span>&nbsp;${loggedUser}</button>
        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#" click.delegate="logOut()" t="login.logout"></a>
        </div>
    </div>
</template>