<template>
    <form class="px-4 py-3">
      <label for="newUser_Username" t="addUser.userName"></label>
      <div class="form-group">
        <input type="text" class="form-control" id="newUser_Username" value.bind="newUserModel.UserName & validate" t="[placeholder]addUser.userName">
      </div>
      <label for="newUser_DisplayName" t="addUser.displayName"></label>
      <div class="form-group">
        <input type="text" class="form-control" id="newUser_Username" value.bind="newUserModel.DisplayName & validate" t="[placeholder]addUser.displayName">
      </div>
      <label for="exampleDropdownFormEmail1" t="addUser.email"></label>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleDropdownFormEmail1" value.bind="newUserModel.Email & validate" placeholder="email@example.com">
      </div>
      <label for="newUser_Password" t="addUser.password"></label>
      <div class="form-group">
        <input type="password" class="form-control" id="newUser_Password" value.bind="newUserModel.Password & validate" change.delegate="confirmPassword = ''" t="[placeholder]addUser.password">
      </div>
      <label for="newUser_ConfirmPassword" t="addUser.confirmPassword" for="confirmPassword"></label>
      <div class="form-group">
        <input type="password" class="form-control" id="newUser_ConfirmPassword" value.bind="newUserModel.ConfirmPassword & validate"
          t="[placeholder]addUser.confirmPassword">
      </div>
      <div class="form-group">
        <label repeat.for="role of roles">
          <input type="checkbox" model.bind="role.Name" checked.bind="newUserModel.Roles">
          <span class="mr-2">${role.DisplayName}</span>
        </label>
      </div>
      <button type="submit" class="btn btn-danger" click.delegate="addUser()">
        <span t="addUser.addUser"></span>
      </button>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">New around here? Sign up</a>
    </form>
  </template>