<template>
  <require from="../../components/pagination/pagination"></require>
  <div class="container-fluid mt-2 mb-2">
      
       <div class="row d-flex justify-content-around">
           <div repeat.for="user of usersModel.Data" class="p-1">
             <compose if.bind="!user.isEditing" view="./userView.html"></compose>
             <compose if.bind="user.isEditing" view="./userEdit.html"></compose>
           </div>
       </div>
       <div class="row">
        <div class="col-12">
           <pagination if.bind="showPagination" page-size.bind="pageSize" current-page.bind="currentPage" total-items.bind="totalItems"
           max-page-blocks="5"></pagination>
        </div>
      </div>
   </div>
    
</template>