<template>
  <div class="col-sm mb-2">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">${user.DisplayName}
                <i class="${ user.isAdmin ? 'fa fa-user' : '' }" aria-hidden="true"></i>
            </h4>
            <p class="card-text">${user.UserName}</p>
            <p class="card-text">${user.Email}</p>
            <a href="#" class="btn btn-primary" click.delegate="editUser(user)">
                <span t="editUser.editUser"></span>
            </a>
        </div>
    </div>
</div>
</template>