<template>
  <require from="../../components/pagination/pagination"></require>
     <div class="container mt-2 mb-2">
        <div class="row">
            <div repeat.for="user of usersModel.Data">
              <compose if.bind="!user.isEditing" view="./userView.html"></compose>
              <compose if.bind="user.isEditing" view="./userEdit.html"></compose>
            </div>
        </div>
    </div>
    <pagination class="mt-2" if.bind="showPagination" page-size.bind="pageSize" current-page.bind="currentPage" total-items.bind="totalItems"
        max-page-blocks="5"></pagination>
</template>