<template>
    <require from="./adduser/adduser"></require>
    <div class="container-fluid userManagmentBackground pt-5">
      <div class="row d-flex justify-content-center pb-5">
        <div class="col-3">
          <form class="form-inline ml-3">
            <input class="form-control" type="text" value.bind="filter & debounce:400" t="[placeholder]userManagement.searchUsers"
              id="top-search" style="position: relative;left: 97px;width: 92%;">
          </form>
        </div>
        <div class="dropdown col-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" style="left: 40px; position: relative;">
            <span t="addUser.addUser"></span>
          </button>
          <div class="dropdown-menu">
              <adduser filterusers.call="filterUsers()"></adduser>   
          </div>
        </div>
      </div>
      <div class="row">
        <compose containerless view="./usersManagement.html"></compose>
      </div>
    </div>
   
  </template>
  