<template>
    <div class="${!user.IsAdmin ? 'card bg-light mb-3' : 'card border-active mb-3'}" style="max-width: 20rem; min-width: 20rem;">
        <div class="card-header d-flex align-items-center justify-content-start">
          <div>${user.DisplayName}</div>
          <button type="button" click.delegate="editUser(user)" class="btn btn-outline-warning btn-sm ml-auto mr-1">  <i class="fa fa-cog" ></i></button>
          <button type="button" click.delegate="showDeleteUserModal(user)" class="btn btn-outline-warning btn-sm">  <i class="fa fa-trash-o"></i></button>

        </div>
        <div class="card-body">
          <h4 class="card-title">${user.Username}</h4>
          <p class="card-text">${user.Email}</p>
        
        </div>
      </div>
</template>