<template>
    <div class="container mt-2 mb-2">
        <div class="row">
            <div repeat.for="user of usersModel.Data">
                <div class="col-sm mb-2" if.bind="editing !== user">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">${user.DisplayName}
                                <i class="${ user.isAdmin ? 'fa fa-user' : '' }" aria-hidden="true"></i>
                            </h4>
                            <p class="card-text">${user.UserName}</p>
                            <p class="card-text">${user.Email}</p>
                            <a href="#" class="btn btn-primary" click.delegate="editUser(user)">
                                <span t="editUser.editUser"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-2" if.bind="editing === user">
                    <div class="card">
                        <div class="card-body">
                            <input type="text" class="form-control mb-2" value.bind="editModel.DisplayName" t="[placeholder]addUser.displayName">
                            <input type="text" class="form-control mb-2" value.bind="editModel.UserName" t="[placeholder]addUser.userName">
                            <input type="email" class="form-control mb-2" value.bind="editModel.Email" placeholder="email@example.com">
                            <input type="password" class="form-control mb-2" value.bind="editModel.Password" t="[placeholder]addUser.password">
                            <label repeat.for="role of roles">
                                <input type="checkbox" model.bind="role.Name" checked.bind="editModel.Roles">
                                <span class="mr-2">${role.DisplayName}</span>
                            </label>
                            <div class="form-group">
                                <input type="checkbox" checked.bind="editModel.isActive=$event.target.checked">
                                <span class="mr-2">Activate user</span>
                            </div>
                            </br>
                            <a href="#" class="btn btn-primary" click.delegate="saveChanges()">
                                <span t="editUser.saveChanges"></span>
                            </a>
                            <a href="#" class="btn btn-primary" click.delegate="cancel()">
                                <span t="cancel"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination class="mt-2" if.bind="showPagination" page-size.bind="pageSize" current-page.bind="currentPage" total-items.bind="totalItems"
        max-page-blocks="5"></pagination>
</template>