<template>
    <div class="col-sm mb-2">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control mb-2" value.bind="user.DisplayName" t="[placeholder]addUser.displayName">
                <input type="text" class="form-control mb-2" value.bind="user.UserName" t="[placeholder]addUser.userName">
                <input type="email" class="form-control mb-2" value.bind="user.Email" placeholder="email@example.com">
                <input type="password" class="form-control mb-2" value.bind="user.Password" t="[placeholder]addUser.password">
                <label repeat.for="role of roles">
                    <input type="checkbox" model.bind="role.Name" checked.bind="user.Roles">
                    <span class="mr-2">${role.DisplayName}</span>
                </label>
                <div class="form-group">
                    <input type="checkbox" checked.bind="user.isActive=$event.target.checked">
                    <span class="mr-2">Activate user</span>
                </div>
                </br>
                <a href="#" class="btn btn-primary" click.delegate="saveChanges(user)">
                    <span t="editUser.saveChanges"></span>
                </a>
                <a href="#" class="btn btn-primary" click.delegate="cancel(user)">
                    <span t="cancel"></span>
                </a>
            </div>
        </div>
    </div>
</template>