<template>
  <div class="container-fluid mt-2">
    <div class="row">
      <form class="form-inline ml-3">
        <input class="form-control mr-sm-2" type="text" value.bind="filter & debounce:400" t="[placeholder]userManagement.searchUsers"
          id="top-search">
      </form>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <span t="addUser.addUser"></span>
        </button>
        <div class="dropdown-menu">
          <compose view="./addUserForm.html"></compose>
        </div>
      </div>
    </div>

    <div class="row">
      <compose containerless view="./usersManagement.html"></compose>
    </div>
  </div>
 
</template>